body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #161b20; /* Dark background color */
  color: #ecf0f1; /* Light text color */
}

.container {
  text-align: center;
  background-color: #0f1c29; /* Slightly lighter background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px; /* Max width for stability on larger screens */
}

h1 {
  color: #00c8ff; /* Highlight color for heading */
}

label {
  display: block;
  margin: 10px 0;
  color: #bdc3c7; /* Lighter text color for labels */
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #bdc3c7; /* Lighter border color */
  border-radius: 5px;
  background-color: #ecf0f1; /* Light background color for input */
  color: #333333; /* Dark text color for input */
}

button {
  padding: 12px;
  cursor: pointer;
  background-color: #3498db; /* Blue button color for dark theme */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "Pacifico", cursive; /* Stylish font */
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

button:hover {
  background-color: #27ae60; /* Darker green on hover */
}

p {
  margin-top: 20px;
  color: #bdc3c7; /* Light text color for result */
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
